* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 7px 17px;
  overflow: visible;
}

.header-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 17px;
  overflow: visible;
}

.header-container.active {
  background-color: #084902f2;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.header-logo {
  height: 52px;
}

.header-nav,
.header-btn {
  display: none;
}

.header-nav {
  overflow: visible;
}

.header-li {
  position: relative;
  overflow: visible;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-ul-menu {
  position: absolute;
  display: flex;
  gap: 3px;
  flex-direction: column;
  top: 140%;
  background-color: white;
  z-index: 10;
  padding: 6px 5px;
  border-radius: 12px;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  max-height: 900px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
}

.header-ul-menu.open {
  max-height: 900px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header-li-menu {
  color: #22780b;
  font-size: 9px;
  display: flex;
  font-weight: 600;
  align-items: center;
}

.header-li-menu a {
  display: flex;
  align-items: center;
}

.header-li-menu a:hover {
  text-decoration: underline;
}

.nav-menu-svg {
  width: 6px;
  height: 6px;
  margin-right: 5px;
}

.header-openburger rect {
  fill: rgb(255, 255, 255);
}

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.4)),
    url(../imgs/bg-main.png);
  background-size: cover;
  background-position: 80% center;
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 24px 34px;
}

.hero-h2 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.hero-btn {
  position: relative;
  width: 121px;
  height: 34px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1000px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  z-index: 3;
  transition: color 0.3s ease;
  cursor: pointer;
}

.hero-btn::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0px;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: width 0.3s ease;
}

.hero-btn:hover {
  color: #000000;
}

.hero-btn:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}

.main-container {
  padding: 24px 34px 33px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 24px;
}

.main-li {
  display: flex;
  align-items: end;
  width: 307px;
  height: 307px;
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.main-li:nth-child(1) {
  background-image: url(../imgs/main-img1.png);
}
.main-li:nth-child(2) {
  background-image: url(../imgs/main-img4.png);
}
.main-li:nth-child(3) {
  background-image: url(../imgs/main-img6.png);
}

.main-img-btn {
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  /* transform: translateY(50px); */
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.main-svg {
  height: 16px;
}

/* .main-li:hover .main-img-btn {
    opacity: 1;
    transform: translateY(0);
} */

.footer-container {
  background-color: #084902;
  padding: 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 157px;
  margin-bottom: 24px;
}

.footer-list-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-li-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.footer-li-contacts::after {
  content: "";
  display: block;
  height: 1px;
  background: #fff;
  width: 100%;
  margin-top: 8px;
}

.footer-li-contacts:not(:first-child) {
  margin-top: 12px;
}

.contacts-a {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.footer-line {
  height: 1px;
  background-color: white;
  margin-top: 12px;
  align-self: center;
}

.footer-list-nav {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 24px;
}

.list-corporate,
.list-fruits,
.list-vegetables {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.footer-a-contacts {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.list-contacts {
  display: none;
}

.corporate-h2,
.fruits-h2,
.vegetables-h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.corporate-a,
.fruits-a,
.vegetables-a {
  font-size: 8px;
  font-weight: 600;
}

.footer-svg {
  display: none;
}

.corporate-a:not(:last-child),
.fruits-a:not(:last-child),
.vegetables-a:not(:last-child) {
  margin-bottom: 5px;
}

.link-text {
  position: relative;
  display: inline-block;
}

.link-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.link-text:hover::after {
  width: 100%;
}

.contacts-svg {
  width: 16px;
  height: 16px;
}

.modal-contact {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 0 137px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-contact.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.modal-container {
  position: relative;
  background-color: white;
  padding: 30px;
  width: 100%;
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.modal-contact.visible .modal-container {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.modal-h2 {
  font-size: 34px;
  font-weight: 600;
}

.modal-div {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.modal-p {
  font-size: 16px;
}

.modal-a {
  font-size: 16px;
  text-decoration: underline;
}

.modal-btn-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.modal-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (min-width: 550px) {
  .hero-container {
    padding: 34px 44px;
  }
  .hero-h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .contacts-a {
    font-size: 14px;
  }
  .contacts-svg {
    width: 18px;
    height: 18px;
  }
  .footer-a-contacts {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 10px;
    font-weight: 600;
  }
}

@media (min-width: 630px) {
  .hero-h2 {
    width: 500px;
  }
  .main-container {
    padding: 28px 38px 37px 38px;
  }
  .main-h2 {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    padding: 6px 42px;
  }
  .header-container {
    padding: 0;
    border-bottom: 2px solid #fff;
    transition: padding 0.3s ease, border-width 0.3s ease;
  }
  .header-container.active {
    padding: 10px 10px;
    border: 0;
    transition: padding 0.3s ease, border-width 0.3s ease;
  }
  .header-logo {
    height: 55px;
  }
  .header-openburger {
    display: none;
  }
  .header-nav {
    display: flex;
    gap: 35px;
  }
  .header-li {
    display: flex;
    align-items: center;
  }
  .header-a {
    font-size: 15px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
  }
  .nav-svg {
    margin-left: 8px;
  }
  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 126px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 1000px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
      border-color 0.3s ease;
  }

  .header-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border-color: rgba(255, 255, 255, 0.6);
  }

  .hero-container {
    padding: 0;
    background: url(../imgs/bg-main2.png);
    background-size: cover;
    background-position: center;
    height: 220px;
  }
  .hero-h2 {
    display: none;
  }
  .hero-btn {
    display: none;
  }
  .main-container {
    padding: 36px 46px 45px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-h2 {
    font-size: 48px;
  }

  .contacts-a {
    font-size: 16px;
  }
  .contacts-svg {
    width: 20px;
    height: 20px;
  }
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 12px;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  .header-logo {
    height: 67px;
  }
  header {
    padding: 6px 102px;
  }
  .hero-container {
    height: 270px;
  }
  .header-container.active {
    padding: 15px;
  }
  .header-ul-menu {
    padding: 13px 10px;
  }
  .header-li-menu {
    font-size: 10px;
  }
  .nav-menu-svg {
    height: 7px;
    width: 7px;
  }
  .main-container {
    padding: 45px 102px 60px 102px;
  }
  .main-h2 {
    font-size: 52px;
  }
  .main-list {
    gap: 65px;
    margin-top: 35px;
  }

  .main-li {
    width: 230px;
    height: 230px;
    padding: 12px;
    overflow: hidden;
  }

  .main-img-btn {
    width: 35px;
    height: 35px;
    transform: translateY(70px);
  }

  .main-svg {
    height: 14px;
  }

  .main-li:hover .main-img-btn {
    opacity: 1;
    transform: translateY(0);
  }

  .footer-container {
    flex-direction: row;
    padding: 16px 102px;
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    margin: 0;
    height: 132px;
    width: 116px;
    margin-right: 84px;
  }
  .footer-li-contacts {
    display: none;
  }
  .list-corporate,
  .list-fruits,
  .list-vegetables {
    text-align: left;
  }
  .list-contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
  }
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2,
  .contacts-h2 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .footer-svg {
    display: flex;
    height: 9px;
    margin-right: 3px;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a,
  .contacts-a {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
  }
  .corporate-a:not(:last-child),
  .fruits-a:not(:last-child),
  .vegetables-a:not(:last-child),
  .contacts-a:not(:last-child) {
    margin-bottom: 7px;
  }
  .footer-list-nav {
    gap: 40px;
    margin: 0;
  }
}

@media (min-width: 1220px) {
  header {
    padding: 6px 112px;
  }
  .header-container.active {
    padding: 18px;
  }
  .header-logo {
    height: 72px;
  }
  .header-a {
    font-size: 17px;
  }
  .header-li-menu {
    font-size: 12px;
  }
  .nav-menu-svg {
    height: 9px;
    width: 9px;
  }
  .nav-svg {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
  .header-btn {
    width: 140px;
    height: 40px;
    font-size: 17px;
  }
  .main-container {
    padding: 55px 112px 70px 112px;
  }
  .main-h2 {
    font-size: 62px;
  }
  .main-list {
    gap: 65px;
    margin-top: 45px;
  }

  .main-li {
    width: 280px;
    height: 280px;
    padding: 12px;
  }

  .main-img-btn {
    width: 45px;
    height: 45px;
    transform: translateY(70px);
  }

  .main-svg {
    height: 16px;
  }

  .footer-container {
    padding: 16px 112px;
  }
  .footer-logo {
    height: 142px;
    width: 126px;
    margin-right: 94px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 6px 132px;
  }
  .header-container.active {
    padding: 20px;
  }
  .header-logo {
    height: 80px;
  }
  .header-ul-menu {
    padding: 13px 10px;
  }
  .header-li-menu {
    font-size: 14px;
  }
  .nav-menu-svg {
    height: 11px;
    width: 11px;
  }
  .hero-container {
    height: 358px;
  }
  .main-container {
    padding: 70px 128px 90px 128px;
  }
  .main-h2 {
    font-size: 78px;
  }
  .main-list {
    gap: 110px;
    margin-top: 55px;
  }

  .main-li {
    width: 320px;
    height: 320px;
    padding: 20px;
  }

  .main-img-btn {
    width: 52px;
    height: 52px;
    transform: translateY(80px);
  }

  .main-svg {
    height: 18px;
  }
  .footer-container {
    padding: 20px 132px;
  }
  .footer-logo {
    height: 162px;
    width: 146px;
    margin-right: 114px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 26px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 14px;
  }
  .footer-svg {
    height: 11px;
    margin-right: 5px;
  }
  .modal-contact {
    padding: 0 200px;
  }
  .modal-container {
    padding: 44px;
  }
  .modal-div {
    gap: 14px;
  }
  .modal-btn-list {
    margin-bottom: 25px;
  }
  .modal-h2 {
    font-size: 50px;
  }
  .modal-p,
  .modal-a {
    font-size: 22px;
  }
  .modal-btn {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1750px) {
  .header {
    padding: 10px 132px;
  }
  .header-container.active {
    padding: 25px;
  }
  .header-nav {
    gap: 54px;
  }
  .header-logo {
    height: 90px;
  }
  .header-a {
    font-size: 25px;
    font-weight: 500;
  }
  .header-ul-menu {
    padding: 20px 17px;
  }
  .header-li-menu {
    font-size: 15px;
  }
  .nav-menu-svg {
    height: 12px;
    width: 12px;
  }
  .nav-svg {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
  .header-btn {
    width: 180px;
    height: 55px;
    font-size: 22px;
  }
  .hero-container {
    height: 408px;
  }
  .main-container {
    padding: 80px 136px 100px 136px;
  }
  .main-h2 {
    font-size: 90px;
  }
  .main-list {
    gap: 155px;
    margin-top: 65px;
  }

  .main-li {
    width: 380px;
    height: 380px;
    padding: 24px;
  }

  .main-img-btn {
    width: 56px;
    height: 56px;
    transform: translateY(80px);
  }

  .main-svg {
    height: 20px;
  }
  .footer-container {
    padding: 40px 145px;
  }
  .footer-list-nav {
    gap: 80px;
  }
  .footer-logo {
    height: 232px;
    width: 200px;
    margin-right: 161px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 30px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 18px;
  }
  .footer-svg {
    height: 14px;
    margin-right: 7px;
  }
}

@media (min-width: 1920px) {
  header {
    padding: 12px 144px;
  }
  .header-logo {
    height: 121px;
  }
  .header-a {
    font-size: 30px;
  }
  .header-ul-menu {
    padding: 23px 20px;
  }
  .nav-svg {
    width: 19px;
    height: 25px;
  }
  .header-btn {
    width: 221px;
    height: 64px;
    font-size: 26px;
  }
  .hero-container {
    height: 458px;
  }
  .main-container {
    padding: 85px 144px 110px 144px;
  }
  .main-h2 {
    font-size: 90px;
  }
  .main-list {
    gap: 186px;
    margin-top: 85px;
  }

  .main-li {
    width: 420px;
    height: 420px;
    padding: 28px;
  }

  .main-img-btn {
    width: 62px;
    height: 62px;
    transform: translateY(90px);
  }

  .main-svg {
    height: 24px;
  }
  .footer-container {
    padding: 38px 145px;
  }
  .footer-logo {
    height: 259px;
    width: 228px;
    margin-right: 181px;
  }
  .footer-list-nav {
    gap: 100px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 40px;
    margin-bottom: 22px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 20px;
  }
  .contacts-a:last-child {
    text-decoration: underline;
  }
  .footer-svg {
    height: 16px;
    margin-right: 8px;
  }
  .modal-contact {
    padding: 0 260px;
  }
  .modal-container {
    padding: 62px;
  }
  .modal-div {
    gap: 16px;
  }
  .modal-btn-list {
    margin-bottom: 31px;
  }
  .modal-h2 {
    font-size: 64px;
  }
  .modal-p,
  .modal-a {
    font-size: 28px;
  }
  .modal-btn {
    width: 36px;
    height: 36px;
  }
}
