* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html, body {
  overscroll-behavior: none;
}


a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 7px 17px;
  overflow: visible;
}

.header-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 17px;
  overflow: visible;
}

.header-container.active {
  background-color: #084902f2;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.header-logo {
  height: 52px;
}

.header-nav,
.header-btn {
  display: none;
}

.header-nav {
  overflow: visible;
}

.header-li {
  position: relative;
  overflow: visible;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-ul-menu {
  position: absolute;
  display: flex;
  gap: 3px;
  flex-direction: column;
  top: 140%;
  background-color: white;
  z-index: 10;
  padding: 6px 5px;
  border-radius: 12px;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  max-height: 900px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
}

.header-ul-menu.open {
  max-height: 900px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header-li-menu {
  color: #22780b;
  font-size: 9px;
  display: flex;
  font-weight: 600;
  align-items: center;
}

.header-li-menu a {
  display: flex;
  align-items: center;
}

.header-li-menu a:hover {
  text-decoration: underline;
}

.nav-menu-svg {
  width: 6px;
  height: 6px;
  margin-right: 5px;
}

.header-openburger rect {
  fill: rgb(255, 255, 255);
}

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.4)),
    url(../imgs/bg-main.png);
  background-size: cover;
  background-position: 80% center;
  height: 431px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 24px 34px;
}

.hero-h2 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.hero-btn {
  position: relative;
  width: 121px;
  height: 34px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1000px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  z-index: 3;
  transition: color 0.3s ease;
  cursor: pointer;
}

.hero-btn::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0px;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: width 0.3s ease;
}

.hero-btn:hover {
  color: #000000;
}

.hero-btn:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}

.main-container {
  background: linear-gradient(to right, #535353, #000);
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.main-li {
  display: flex;
  width: 307px;
  height: 307px;
  background-size: cover;
  background-position: center;
  padding: 16px;
  overflow: hidden;
  border-radius: 24px;
}

.main-li:nth-child(1) {
  background-image: url(../imgs/main-img1.png);
}
.main-li:nth-child(2) {
  background-image: url(../imgs/main-img2.png);
}
.main-li:nth-child(3) {
  background-image: url(../imgs/main-img3.png);
}
.main-li:nth-child(4) {
  background-image: url(../imgs/main-img4.png);
}
.main-li:nth-child(5) {
  background-image: url(../imgs/main-img5.png);
}
.main-li:nth-child(6) {
  background-image: url(../imgs/main-img6.png);
}
.main-li:nth-child(7) {
  background-image: url(../imgs/main-img7.png);
}
.main-li:nth-child(8) {
  background-image: url(../imgs/main-img8.png);
}

.main-img-btn {
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  opacity: 1;
  /* transform: translateY(50px); */
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.main-svg {
  height: 16px;
}

/* .main-li:hover .main-img-btn {
    opacity: 1;
    transform: translateY(0);
} */

.features-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
  overflow: visible;
}

.features-a {
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-a:hover {
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.35);
  transform: translateY(-6px);
}

.features-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 307px;
  height: 195px;
  cursor: pointer;
}

.features-img {
  display: flex;
  width: 243px;
  height: 116px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.features-h2 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
}

.footer-container {
  background-color: #084902;
  padding: 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #084902;
  padding: 36px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.4s ease;
  z-index: 1000;
}

.menu-btn {
  position: absolute;
  top: 36px;
  right: 34px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu-container.active {
  right: 0;
}


.footer-logo {
  height: 157px;
  margin-bottom: 24px;
}

.footer-list-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-li-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.footer-li-contacts::after {
  content: "";
  display: block;
  height: 1px;
  background: #fff;
  width: 100%;
  margin-top: 8px;
}

.footer-li-contacts:not(:first-child) {
  margin-top: 12px;
}

.contacts-a {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.footer-line {
  height: 1px;
  background-color: white;
  margin-top: 12px;
  align-self: center;
}

.footer-list-nav {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 24px;
}

.list-corporate,
.list-fruits,
.list-vegetables {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.footer-a-contacts {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.list-contacts {
  display: none;
}

.corporate-h2,
.fruits-h2,
.vegetables-h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.corporate-a,
.fruits-a,
.vegetables-a {
  font-size: 8px;
  font-weight: 600;
}

.footer-svg {
  display: none;
}

.corporate-a:not(:last-child),
.fruits-a:not(:last-child),
.vegetables-a:not(:last-child) {
  margin-bottom: 5px;
}

.link-text {
  position: relative;
  display: inline-block;
}

.link-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.link-text:hover::after {
  width: 100%;
}

.contacts-svg {
  width: 16px;
  height: 16px;
}



.modal-contact {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 0 137px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-contact.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.modal-container {
  position: relative;
  background-color: white;
  padding: 30px;
  width: 100%;
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.modal-contact.visible .modal-container {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.modal-h2 {
  font-size: 34px;
  font-weight: 600;
}

.modal-div {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.modal-p {
  font-size: 16px;
}

.modal-a {
  font-size: 16px;
  text-decoration: underline;
}

.modal-btn-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.modal-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (min-width: 550px) {
  .hero-container {
    padding: 34px 44px;
  }
  .hero-h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .contacts-a {
    font-size: 14px;
  }
  .contacts-svg {
    width: 18px;
    height: 18px;
  }
  .footer-a-contacts {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 10px;
    font-weight: 600;
  }
}

@media (min-width: 630px) {
  .hero-h2 {
    width: 500px;
  }
  .main-container {
    padding: 50px 0;
  }
  .main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
  }

  .main-li {
    width: 230px;
    height: 230px;
  }
  .main-img-btn {
    width: 30px;
    height: 30px;
  }
  .main-svg {
    height: 12px;
  }
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding: 0 20px;
  }
  .features-li {
    width: 250px;
    height: 157px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.25);
  }
  .features-img {
    width: 186px;
    height: 89px;
  }

  .features-h2 {
    margin-top: 12px;
    font-size: 19px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    padding: 6px 42px;
  }
  .header-container {
    padding: 0;
    border-bottom: 2px solid #fff;
    transition: padding 0.3s ease, border-width 0.3s ease;
  }
  .header-container.active {
    padding: 10px 10px;
    border: 0;
    transition: padding 0.3s ease, border-width 0.3s ease;
  }
  .header-logo {
    height: 55px;
  }
  .header-openburger {
    display: none;
  }
  .header-nav {
    display: flex;
    gap: 35px;
  }
  .header-li {
    display: flex;
    align-items: center;
  }
  .header-a {
    font-size: 15px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
  }
  .nav-svg {
    margin-left: 8px;
  }
  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 126px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 1000px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
      border-color 0.3s ease;
  }

  .header-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border-color: rgba(255, 255, 255, 0.6); /* можно слегка изменить рамку */
  }

  .hero-container {
    padding: 34px 44px;
  }
  .hero-h2 {
    font-size: 36px;
  }
  .hero-btn {
    width: 160px;
    height: 47px;
    font-size: 17px;
  }
  .contacts-a {
    font-size: 16px;
  }
  .contacts-svg {
    width: 20px;
    height: 20px;
  }
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 12px;
    font-weight: 600;
  }
}

@media (min-width: 859px) {
  .features-container {
    padding: 67px 0;
  }
}

@media (min-width: 1024px) {
  .header-logo {
    height: 67px;
  }
  header {
    padding: 6px 102px;
  }
  .hero-container {
    padding: 75px 102px;
    height: 480px;
  }
  .header-container.active {
    padding: 15px;
  }
  .header-ul-menu {
    padding: 13px 10px;
  }
  .header-li-menu {
    font-size: 10px;
  }
  .nav-menu-svg {
    height: 7px;
    width: 7px;
  }
  .hero-h2 {
    font-size: 45px;
    width: 600px;
    line-height: 1.2;
    /* letter-spacing: 0.1ch; */
    font-weight: 500;
  }
  .hero-btn {
    margin-top: 19px;
    font-weight: 500;
  }
  .main-li {
    padding: 12px;
  }
  .main-img-btn {
    width: 30px;
    height: 30px;
    transform: translateY(50px);
  }

  .main-svg {
    height: 16px;
  }

  .main-li:hover .main-img-btn {
    opacity: 1;
    transform: translateY(0);
  }
  .footer-container {
    flex-direction: row;
    padding: 16px 102px;
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    margin: 0;
    height: 132px;
    width: 116px;
    margin-right: 84px;
  }
  .footer-li-contacts {
    display: none;
  }
  .list-corporate,
  .list-fruits,
  .list-vegetables {
    text-align: left;
  }
  .list-contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
  }
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2,
  .contacts-h2 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .footer-svg {
    display: flex;
    height: 9px;
    margin-right: 3px;
  }
  .corporate-a,
  .fruits-a,
  .vegetables-a,
  .contacts-a {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
  }
  .corporate-a:not(:last-child),
  .fruits-a:not(:last-child),
  .vegetables-a:not(:last-child),
  .contacts-a:not(:last-child) {
    margin-bottom: 7px;
  }
  .footer-list-nav {
    gap: 40px;
    margin: 0;
  }
}

@media (min-width: 1220px) {
  header {
    padding: 6px 112px;
  }
  .header-container.active {
    padding: 18px;
  }
  .header-logo {
    height: 72px;
  }
  .header-a {
    font-size: 17px;
  }
  .header-li-menu {
    font-size: 12px;
  }
  .nav-menu-svg {
    height: 9px;
    width: 9px;
  }
  .nav-svg {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
  .header-btn {
    width: 140px;
    height: 40px;
    font-size: 17px;
  }
  .hero-container {
    padding: 85px 112px;
    height: 580px;
  }
  .hero-h2 {
    font-size: 50px;
    width: 700px;
  }
  .hero-btn {
    width: 180px;
    height: 50px;
    font-size: 19px;
  }
  .features-container {
    padding: 80px 0;
  }
  .features-list {
    gap: 30px;
  }
  .features-li {
    width: 280px;
    height: 175px;
  }
  .features-img {
    width: 210px;
    height: 100px;
  }
  .features-h2 {
    font-size: 21px;
  }
  .footer-container {
    padding: 16px 112px;
  }
  .footer-logo {
    height: 142px;
    width: 126px;
    margin-right: 94px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 6px 132px;
  }
  .header-container.active {
    padding: 20px;
  }
  .header-logo {
    height: 80px;
  }
  .header-ul-menu {
    padding: 13px 10px;
  }
  .header-li-menu {
    font-size: 14px;
  }
  .nav-menu-svg {
    height: 11px;
    width: 11px;
  }
  .hero-container {
    padding: 95px 132px;
    height: 650px;
  }
  .hero-h2 {
    font-size: 55px;
    width: 800px;
  }
  .hero-btn {
    width: 200px;
    height: 55px;
    font-size: 21px;
  }
  .main-li {
    width: 348px;
    height: 348px;
  }
  .main-img-btn {
    width: 58px;
    height: 58px;
    transform: translateY(80px);
  }
  .main-svg {
    height: 20px;
  }
  .features-container {
    padding: 90px 0;
  }
  .features-list {
    gap: 20px;
  }
  .features-li {
    width: 420px;
    height: 260px;
  }
  .features-img {
    width: 320px;
    height: 160px;
  }
  .features-h2 {
    font-size: 24px;
    margin-top: 18px;
  }
  .footer-container {
    padding: 20px 132px;
  }
  .footer-logo {
    height: 162px;
    width: 146px;
    margin-right: 114px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 26px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 14px;
  }
  .footer-svg {
    height: 11px;
    margin-right: 5px;
  }
  .modal-contact {
    padding: 0 200px;
  }
  .modal-container {
    padding: 44px;
  }
  .modal-div {
    gap: 14px;
  }
  .modal-btn-list {
    margin-bottom: 25px;
  }
  .modal-h2 {
    font-size: 50px;
  }
  .modal-p,
  .modal-a {
    font-size: 22px;
  }
  .modal-btn {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1750px) {
  .header {
    padding: 10px 132px;
  }
  .header-container.active {
    padding: 25px;
  }
  .header-nav {
    gap: 54px;
  }
  .header-logo {
    height: 90px;
  }
  .header-a {
    font-size: 25px;
    font-weight: 500;
  }
  .header-ul-menu {
    padding: 20px 17px;
  }
  .header-li-menu {
    font-size: 15px;
  }
  .nav-menu-svg {
    height: 12px;
    width: 12px;
  }
  .nav-svg {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
  .header-btn {
    width: 180px;
    height: 55px;
    font-size: 22px;
  }
  .hero-container {
    padding: 139px 144px;
    height: 750px;
  }
  .hero-h2 {
    font-size: 65px;
    width: 780px;
  }
  .hero-btn {
    width: 220px;
    height: 60px;
    font-size: 24px;
  }
  .main-list {
    gap: 80px;
  }
  .features-container {
    padding: 100px 0;
  }
  .features-li {
    width: 500px;
    height: 300px;
  }
  .features-img {
    width: 380px;
    height: 190px;
  }
  .features-h2 {
    font-size: 28px;
  }
  .footer-container {
    padding: 40px 145px;
  }
  .footer-list-nav {
    gap: 80px;
  }
  .footer-logo {
    height: 232px;
    width: 200px;
    margin-right: 161px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 30px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 18px;
  }
  .footer-svg {
    height: 14px;
    margin-right: 7px;
  }
}

@media (min-width: 1920px) {
  header {
    padding: 12px 144px;
  }
  .header-logo {
    height: 121px;
  }
  .header-a {
    font-size: 30px;
  }
  .header-ul-menu {
    padding: 23px 20px;
  }
  .nav-svg {
    width: 19px;
    height: 25px;
  }
  .header-btn {
    width: 221px;
    height: 64px;
    font-size: 26px;
  }
  .hero-container {
    padding: 139px 144px;
    height: 950px;
  }
  .hero-h2 {
    font-size: 84px;
    width: 1000px;
    font-weight: 600;
    letter-spacing: 0.1ch;
  }
  .hero-btn {
    width: 299px;
    height: 87px;
    font-size: 32px;
    margin-top: 54px;
  }
  .main-container {
    padding: 107px 0;
  }
  .main-list {
    max-width: 1920px;
    margin: 0;
  }
  .features-container {
    padding: 109px 0;
  }
  .features-li {
    width: 534px;
    height: 336px;
  }
  .features-img {
    width: 420px;
    height: 200px;
  }
  .features-h2 {
    font-size: 40px;
    margin-top: 26px;
  }
  .footer-container {
    padding: 38px 145px;
  }
  .footer-logo {
    height: 259px;
    width: 228px;
    margin-right: 181px;
  }
  .footer-list-nav {
    gap: 100px;
  }
  .contacts-h2,
  .corporate-h2,
  .fruits-h2,
  .vegetables-h2 {
    font-size: 40px;
    margin-bottom: 22px;
  }
  .contacts-a,
  .corporate-a,
  .fruits-a,
  .vegetables-a {
    font-size: 20px;
  }
  .contacts-a:last-child {
    text-decoration: underline;
  }
  .footer-svg {
    height: 16px;
    margin-right: 8px;
  }
  .modal-contact {
    padding: 0 260px;
  }
  .modal-container {
    padding: 62px;
  }
  .modal-div {
    gap: 16px;
  }
  .modal-btn-list {
    margin-bottom: 31px;
  }
  .modal-h2 {
    font-size: 64px;
  }
  .modal-p,
  .modal-a {
    font-size: 28px;
  }
  .modal-btn {
    width: 36px;
    height: 36px;
  }
}
